@charset "utf-8";
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    /*デフォの16pxを10pxに直す　16*52.5=10px*/
}

body {
    columns: #333333;
    font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
}


/* ブラウザを伸び縮みさせると画像も一緒に伸縮する　
imgタグ全部にかける */

img {
    max-width: 100%;
    height: auto;
}

Ω .site-title {
    font-size: 2.4rem;
    font-weight: bold;
}

.profile-wrapper {
    width: 560px;
}