@charset "utf-8";
body {
    background-color: antiquewhite;
}

h1 {
    font-size: 24px;
    margin: 0px;
}

.content {
    background-color: rgb(121, 244, 168);
    margin: 10px auto;
    width: 600px;
    border: 5px dashed rgb(132, 136, 249);
    padding: 40px;
}

input {
    border: none;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    font-size: 1.2em;
    width: 100%;
    padding: 8px;
}

button {
    width: 100%;
    background-color: rgb(247, 0, 74);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.control {
    margin-bottom: 3em;
}

label {
    display: block;
    margin-bottom: 5em;
}

.required {
    margin-left: 1em;
    color: crimson;
    background: rgb(255, 255, 255);
    font-size: .9em;
    padding: 3px;
    font-weight: bold
}