<!DOCTYPE html><html lang="ja"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="ie=edge"><title>チーズアカデミー</title><link rel="stylesheet" href="css/reset.css"><link rel="stylesheet" href="css/style.css"></head><body><!-- この中に記述していく --><!-- この中に記述していく --><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script src="js/main.js"></script></body></html>gin: 20px;

}
.contents-item p {
    margin: 50px;
    font-size: 50px;
}
.aa {
    width: 100px;
    height: 100px;
    background: rgba(43, 124, 201, 0.523);
}
.bb {
    width: 100px;
    height: 100px;
    background: rgba(43, 201, 69, 0.523);
}
.cc {
    width: 100px;
    height: 100px;
    background: rgba(193, 43, 201, 0.523);
}

/*display:flexを必ず指定する。justifyとalignで調整*/
.box {
    display: flex;
    justify-content: space-between;
}
.dd {
    background-color: blueviolet;
}