  /* ここから下に記載していく */

  body {
      width: 1366px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
  }

  .break:before {
      content: "\A";
      white-space: pre;
	}
	
	a {
		text-decoration: none;
	}

	a:link {
		color: #000000;
	}

	a:visited {
		color: #000000;
	}

  .navbar {
      align-items: center;
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
  }

  .logo {
      margin-left: 50px;
  }

  .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center
  }

  .nav-right {
      font-size: 24px;
      font-style: initial;
  }

  .nav-right li {
      float: left;
      padding: 50px 25px;
  }

  .mainbanner {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center
  }

  .mainbanner img {
      width: 100%;
      height: auto;
  }

  .main-text {
      width: 100%;
      position: absolute;
      text-align: center;
      color: #ffffff;
  }

  .main-text h1 {
      font-size: 50px;
      margin-bottom: 30px;
  }

  .main-text p {
      font-size: 35px;
      color: #ffffffd8;
  }

  .ABOUT h1 {
      margin: 60px 0px 30px 0px;
      font-size: 24px;
      font-weight: 800;
      color: #ffd61a;
  }

  .ABOUT h2 {
      margin-bottom: 60px;
      font-size: 18px;
  }

  .contents-text {
      margin-bottom: 80px;
      font-size: 16px;
      line-height: 1.5;
  }

  .contents-text p {
      margin-top: 40px;
  }

  .imagebox {
			display: flex;
			width: 100%;
  }

  .imagebox p img{
      width: 100%;
  }

  .NEWS h1 {
      margin: 60px 0px 30px 0px;
      font-size: 24px;
      font-weight: 800;
      color: #ffd61a;
  }

  .NEWS h2 {
      margin-bottom: 60px;
      font-size: 18px;
  }

  .news-contents {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 60px;
  }

  .list {
      width: 300px;
      margin: 0px 15px;
      font-size: 16px;
  }

  .list h3 {
      margin-top: 30px;
      margin-bottom: 24px;
      text-align: left;
  }

  .list p {
      line-height: 1.5;
      letter-spacing: 1px;
      text-align: left
  }

  .news-more {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 60px;
  }

  .button01 {
      display: flex;
      width: 300px;
      height: 60px;
      justify-content: center;
      align-items: center;
      border: 2px solid #ffa602;
      font-size: 18px;
      color: #ffa602;
      text-decoration: none;
      font-weight: bold;
      border-radius: 4px;
      transition: .4s;
  }

  .button01:hover {
      background-color: #ffa602;
      border-color: #cbe585;
      color: #FFF;
  }

  .info {
      background: #999797;
      padding: 60px 0px 30px;
  }

  .info h1 {
      font-size: 24px;
      margin-bottom: 30px;
      font-weight: bold;
  }

  .info h2 {
      font-size: 18px;
      margin-bottom: 60px;
  }

  .info p {
      font-size: 16 px;
      margin: 30px;
  }

  .info-text {
      display: inline-block;
      letter-spacing: 1px;
      text-align: left;
      margin-top: 30px;
  }

  .contact {
      margin: 60px 0px 70px;
      font-size: 24px;
  }

  .contact h1 {
      font-weight: bold;
      margin-bottom: 30px;
  }

  .contact h2 {
      margin-bottom: 60px;
      font-size: 18px;
  }

  .contact p {
      margin: 30px;
      font-size: 18px;
      line-height: 1.5;
  }

  .formBox {
      margin-bottom: 30px;
			margin-left: auto;
			margin-right: auto;
      border-top: solid 3px #747373;
      font-size: 16px;
			width: 55%;
			text-align: left;
  }

  dl {
      width: 100%;
      border-bottom: solid 1px #999797;
			display: flex;

  }

  dt {
      width: 50%;
      border-right: solid 1px #999797;
			padding: 12px 16px;
			
  }

  dd {
      width: 100%;
			padding: 8px 16px;
  }
	dd span {
		display: flex;
		margin: 12px 10px 24px;
		font-size: 16px;
		
	}
	input[type="checkbox"] {
		transform: scale(2);
		margin-right: 50px;
	}

	input[type=" text "]{
		width: 60%
	}

	textarea{
		width: 60%;
	}
	

  .button02 {
      display: flex;
      margin: 30px 140px 0px;
      width: 300px;
      height: 60px;
      justify-content: center;
      align-items: center;
      border: 2px solid #ffa602;
      font-size: 18px;
      color: #ffa602;
      text-decoration: none;
      font-weight: bold;
      border-radius: 4px;
      transition: .4s;
  }

  .button02:hover {
      background-color: #ffa602;
      border-color: #ffa602;
      color: #FFF;
  }

  .copyrights {
      background: #707070;
      padding: 30px;
      color: #ffffff;
  }